<section id="find-us">
    <h2 class="section-title">Suivez les événements:</h2>

    <div class="cards features">

        <div class="card">
            <div class="card-image">
                <img src="./static/images/meetup.png" alt="Meetup Logo" />
            </div>
            <div class="card-title">Page Meetup</div>
            <div class="card-content">
                Découvrez les événements locaux et rejoignez une communauté dynamique de développeurs sur notre page Meetup!
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="./static/images/favicon.png" alt="GDG Logo" />
            </div>
            <div class="card-title">Page GDG</div>
            <div class="card-content">
                Explorez la plateforme GDG pour découvrir une communauté active de développeurs passionnés et restez connecté avec les dernières actualités et événements technologiques!
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="./static/images/twitter.png" alt="Twitter Logo" />
            </div>
            <div class="card-title">Twitter</div>
            <div class="card-content">
                Restez à jour des dernières tendances technologiques et participez à une communauté de développeurs dynamique sur notre page Twitter !
            </div>
        </div>
    </div>
</section>