<section id="find-us">
    <h2 class="section-title">Suivez les événements:</h2>

    <div class="cards features">

        
        <div class="card">
            <div class="card-image">
                <a href="https://www.meetup.com/fr-FR/gdg-bordeaux/">
                    <img src="./static/images/meetup.png" alt="Meetup Logo" />
                </a>
            </div>
            <div class="card-title">Page Meetup</div>
            <div class="card-content">
                Découvrez les événements locaux et rejoignez une communauté dynamique de développeurs sur notre page Meetup!
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <a href="https://gdg.community.dev/gdg-bordeaux/">
                    <img src="./static/images/favicon.png" alt="GDG Logo" />
                </a>
            </div>
            <div class="card-title">Page GDG</div>
            <div class="card-content">
                Explorez la plateforme GDG pour découvrir une communauté active de développeurs passionnés et restez connecté avec les dernières actualités et événements technologiques!
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <a href="https://x.com/gdgbordeaux">
                    <img src="./static/images/x_logo.png" alt="X Logo" />
                </a>
            </div>
            <div class="card-title">X</div>
            <div class="card-content">
                Restez à jour des dernières tendances technologiques et participez à une communauté de développeurs dynamique sur notre page X !
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <a href="https://discord.gg/aeM9CSNF9k">
                    <img src="./static/images/discord_logo.png" alt="Discord Logo" />
                </a>
            </div>
            <div class="card-title">Discord</div>
            <div class="card-content">
                Rejoingnez notre serveur Discord et participez à des discussions enrichissantes sur les dernières tendances du développement informatique
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <a href="https://www.linkedin.com/company/gdg-bordeaux">
                    <img src="./static/images/linkedin_logo.png" alt="LinkedIn Logo" />
                </a>
            </div>
            <div class="card-title">LinkedIn</div>
            <div class="card-content">
                Connectez-vous sur notre page LinkedIn pour être à l'avant-garde des dernières tendances technologiques et intégrer un réseau dynamique de développeurs professionnels.
            </div>
        </div>
    </div>
</section>