<div>
    <h2 class="gdg-description">
        Lorsque vous rejoignez un groupe de développeurs Google, vous aurez l'occasion d'apprendre de nouvelles compétences dans une variété de formats.<br>Vous rencontrerez également des développeurs locaux, virtuellement ou en personne, ayant des intérêts similaires dans la technologie.<br> La communauté se targue d'être un environnement inclusif où tout le monde, des développeurs débutants aux professionnels expérimentés, est le bienvenu pour participer.
    </h2>
    <img src="./static/images/GDG_join.svg" alt="GDG Description" class="gdg-description-img" />
</div>