@font-face {
  font-family: "GoogleSans";
  src: url("./../fonts/GoogleSans/GoogleSansDisplay-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "GoogleSans";
  src: url("./../fonts/GoogleSans/GoogleSansDisplay-Regular.ttf");
  font-weight: normal;
}