$backgroundColor: #f7f5f5;
$titleColor: #494f56;
$darkTitleColor: #1c1e20;

$primaryTextColor: #ffffff;

$primary: #4051e1;
$primaryDarken: #2738cf;
$primaryLighten: #505fe6;


$googleBlue: #4285f4;
$googleLightBlue: #8ab4f8;
$googleGreen: #34a853;
$googleLightGreen: #81c995;
$googleYellow: #f9ab00;
$googleLightYellow: #fde293;
$googleRed: #ea4335;
$googleLightRed: #f28b82;